<a href="https://colab.research.google.com/github/sharonapa/medical-timeseries/blob/main/Data_exploration_2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

pd.__version__
pd.set_option('display.max_columns', 100)

In [ ]:
# connect ro drive data
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# xlsx_noId_opening = '/content/gdrive/MyDrive/תואר שני/תזה/dataset/Copy of 2017-noID opening.xlsx'
# xlsx_noId_opening_df = pd.read_excel(xlsx_noId_opening,sheet_name='Opening_Progress',header=1)
# xlsx_noId_opening_df.head()

xlsx_noId_opening = '/content/gdrive/MyDrive/תואר שני/תזה/dataset/monitor_opening_sample_900127470501.xlsx'
xlsx_noId_opening_df = pd.read_excel(xlsx_noId_opening)
xlsx_noId_opening_df.head()

,Monitor Date 1,Opening 1,Monitor Date 2,Opening 2,Monitor Date 3,Opening 3,Monitor Date 4,Opening 4,Monitor Date 5,Opening 5,Monitor Date 6,Opening 6,Monitor Date 7,Opening 7,Monitor Date 8,Opening 8,Monitor Date 9,Opening 9,outcome
0,2017-01-04 15:51:00,-2,2017-01-04 17:55:00,2,2017-01-04 18:57:00,-2,2017-01-04 20:07:00,-2,2017-01-04 20:59:00,-2,2017-01-04 22:05:00,-2,2017-01-04 22:25:00,-2,2017-01-04 23:42:00,-1,2017-01-05 00:46:00,-1,Spontaneous onset of labor

# Preprocess stage for time series prediction
1.   take selected features from a list
2.   make the delivery room entering time as start time = 00:00:00
3. delivery room entering time will be the Data frame index

In [ ]:
# for each preg id ,  take first monitor  date as zero time,  join with the other monitor date as a timde delta
# take from other csv file the preg outcome as the Y
#selected_features = ['Monitor Date 1','Opening 1','Monitor Date 2','Opening 2','Pregnancy ID']
selected_features = ['Monitor Date 1','Opening 1','Monitor Date 2','Opening 2','Monitor Date 3','Opening 3','Monitor Date 4','Opening 4','Monitor Date 5','Opening 5','Monitor Date 6','Opening 6','Monitor Date 7','Opening 7','Monitor Date 8','Opening 8','Monitor Date 9','Opening 9']
xlsx_noId_opening_df_features = xlsx_noId_opening_df[selected_features].copy()
print('total rows:',xlsx_noId_opening_df_features.shape)


# clean NAN data
xlsx_noId_opening_df_features = xlsx_noId_opening_df_features.dropna()
print('total rows after cleaning NA:',xlsx_noId_opening_df_features.shape)

#xlsx_noId_opening_df_features.rename(columns={"Monitor Date 1": "Monitor_Date_1", "Monitor Date 2": "Monitor_Date_2"},inplace=True)


#delta_2_1 = xlsx_noId_opening_df_features['Monitor Date 2'] - xlsx_noId_opening_df_features['Monitor Date 1']
#xx= xlsx_noId_opening_df_features.iloc[1:]- xlsx_noId_opening_df_features.iloc[0]

#deltas = xlsx_noId_opening_df_features.iloc[0, [2,4,6,8,10,12,14,16]].astype('datetime64') - xlsx_noId_opening_df_features.iloc[0,[0]].astype('datetime64')
#type(xlsx_noId_opening_df_features.iloc[0, [2,4,6,8,10,12,14,16]].to_pydatetime())

deltas = xlsx_noId_opening_df_features.apply(lambda x : x[::2]-  x[0].to_pydatetime(),axis=1).astype('timedelta64[m]')
cols = ['delta_{}_{}'.format(x,x+1) for x in range(1,deltas.shape[1]+1)]

deltas.rename(cols,axis='columns', inplace=True)
#deltas
#pd.concat([xlsx_noId_opening_df_features, deltas],axis=1)

#xlsx_noId_opening_df_features.iloc[0,[0]].astype('datetime64')
#deltas.astype('timedelta64[m]')
#convert to minuts

#xlsx_noId_opening_df_features['delta_monitor_2_1'] = delta_2_1.astype('timedelta64[m]')
#xlsx_noId_opening_df_features.head()

total rows: (1, 18)
total rows after cleaning NA: (1, 18)

TypeError: ignored

# Getting the labour outcome

In [ ]:
# taking the outcome  - delivery mode
xlsx_noId = '/content/gdrive/MyDrive/תואר שני/תזה/dataset/Copy of 2017-noID.xlsx'
xlsx_noId_df = pd.read_excel(xlsx_noId,sheet_name='PET_Report',header=1)
#xlsx_noId_df.head()

In [ ]:
selected_features = ['Pregnancy ID','סוג לידה']
xlsx_noId_df_features = xlsx_noId_df[selected_features].copy()
xlsx_noId_df_features.head()
labour_outcome =xlsx_noId_df_features['סוג לידה'].unique()

# transfrom the hebrew decription into a code
xlsx_noId_df_features['labour_outcome_id'] = xlsx_noId_df_features['סוג לידה'].map(lambda cell_val: np.where(cell_val == labour_outcome)[0][0])
xlsx_noId_df_features.head()

   Pregnancy ID     סוג לידה  labour_outcome_id
0  900013630201  ניתוח קיסרי                  0
1    2171663404   לידה רגילה                  1
2    2171663404   לידה רגילה                  1
3    4082131602  ניתוח קיסרי                  0
4  900028589101  ניתוח קיסרי                  0

In [ ]:
type(labour_outcome)

numpy.ndarray

In [ ]:
# split the data to train and target   80/20
print('data set size: ',xlsx_noId_df.shape)
rows , cols  = xlsx_noId_df.shape

train_size = int(rows*0.8)

xlsx_noId_df_train = xlsx_noId_df[0:train_size]
print('train size: ', xlsx_noId_df_train.shape)

xlsx_noId_df_test = xlsx_noId_df[train_size:]
print('test size: ', xlsx_noId_df_test.shape)

data set size:  (4051, 309)
train size:  (3240, 309)
test size:  (811, 309)

In [ ]:
# extract the target APGAR col

In [ ]:
,

''